* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(bg.jpg);
    max-height: 100vh;
    background-size: 100vw 100vh;
    /* position: relative; */
}

#board {
    background: linear-gradient(rgb(180, 228, 180), rgb(224, 224, 156));
    height: 80vh;
    width: 50vw;
    margin-left: 100px;
    margin-top: 30px;
    border: 2px solid rgb(75, 64, 83);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(23, 1fr);
}

.head {
    /* background: linear-gradient(rgb(38, 168, 219), rgb(5, 85, 109)); */
    border-radius: 12px;
    background-image: url(img1.png);
    background-size: cover;
    transform: scale(1.1, 1.1);
}

.snake {
    background-color: rgb(6, 128, 117);
    background: linear-gradient(rgb(8, 76, 153), rgb(18, 140, 177));
    border-radius: 15px;
    background-image: url(body3.png);
    background-size: cover;
    transform: scale(1.1, 1.1);
}

.food {
    /* background: linear-gradient(rgb(245, 76, 76), rgb(43, 84, 196)); */
    background-image: url(apple-img.png);
    background-size: cover;
    transform: scale(1.3, 1.3);
    border-radius: 10px;
}

#scoreNumber {
    position: absolute;
    left: 85%;
    top: 32px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(3, 68, 25);
}

#hiScoreNumber {
    position: absolute;
    left: 85%;
    top: 72px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(3, 68, 25);
}

@media (max-width: 600px) {
    #board {
        background: linear-gradient(rgb(180, 228, 180), rgb(224, 224, 156));
        height: 50vh;
        width: 80vw;
        margin-left: 10%;
        margin-top: 100px;
        border: 2px solid rgb(75, 64, 83);
        display: grid;
        grid-template-rows: repeat(18, 1fr);
        grid-template-columns: repeat(23, 1fr);
    }

    #scoreNumber {
        position: absolute;
        left: 12%;
        top: 1%;
        font-size: 30px;
        font-weight: bold;
        color: rgb(3, 68, 25);
    }

    #hiScoreNumber {
        position: absolute;
        left: 12%;
        top: 5%;
        font-size: 30px;
        font-weight: bold;
        color: rgb(3, 68, 25);
    }

    #control {
        position: absolute;
        height: 20vh;
        width: 40vw;
        top: 70%;
        left: 10%;
    }


    #up {
        position: relative;
        left: 95px;
        font-size: 25px;
        display: inline-block;
    }

    #left {
        position: relative;
        display: inline-block;
        font-size: 25px;
        right: 25px;
        top: 70px;
    }

    #down {
        position: relative;
        display: inline-block;
        font-size: 25px;
        top: 140px;
        left: 10px;

    }

    #right {
        position: absolute;
        display: inline-block;
        top: 70px;
        left: 160px;
        font-size: 25px;
    }

}

@media (min-width: 600px) {
    #control {
        display: none;
    }
}